.clients-icons-list {
  display: flex;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}
.clients__item {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 170px;
  height: 92px;

  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-color: #2196f3;
  }
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.clients__icon {
  width: 106px;
  height: 60px;
  fill: rgba(175, 177, 184, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .clients__item:hover &,
  .clients__item:focus & {
    fill: #2196f3;
  }
}
